.mainForgetDiv {
  @apply flex justify-center items-center w-full h-screen bg-[rgba(232,227,227,0.68)];
}

.forgetContent {
  @apply max-w-lg w-full p-8 rounded-lg shadow-md bg-[#fff] flex flex-col items-center;
}

.forgetLogo img {
  @apply w-[30px] h-[30px];
}

.forgetContent h1 {
  @apply text-4xl text-[#11175D] font-bold font-roboto text-center mb-[11px] mt-[18px];
}

.forgetContent p {
  @apply text-sm text-[#858585] text-center font-roboto mb-12;
}

.forgetForm {
  @apply w-[320px];
}

.inputContainer {
  @apply relative h-[40px] leading-[40px] mb-6;
}

.inputField {
  @apply w-full text-[18px] font-roboto font-semibold absolute leading-[40px] bg-transparent px-[30px] py-0 outline-none rounded-md;
  border: 2px solid #666;
  transition: all 0.3s ease;
  z-index: 1111;
}

.inputLabel {
  @apply absolute text-[18px] text-[#666] px-[30px] font-roboto bg-white;
  line-height: 40px;
  transition: all 0.3s ease;
}

.inputField:focus,
.inputField:valid {
  color: #4855e0;
  border-color: #4855e0;
}

.inputField:focus + .inputLabel,
.inputField:valid + .inputLabel {
  color: #4855e0;
  height: 20px;
  line-height: 20px;
  transform: translate(-1px, -15px) scale(0.88);
  z-index: 1111;
}

.resetBtn {
  @apply w-full p-[14px] rounded-[40px] bg-[#64B5F6] text-center mt-[30px];
}

.resetBtn a {
  @apply text-white font-medium font-roboto;
}

.backToLoginLink {
  @apply text-[#4855e0] text-sm font-roboto text-center mt-4;
}
